{% extends 'layout.html.twig' %}

{% block body %}
	
	{{ parent() }}
	
	<div class="col-lg-6">
		<h2>Añadir Jugador</h2>
		<hr>
		{{form_start(form)}}
		
		<div class="form-group">
			{{ form_label(form.nombre) }}
			{{ form_widget(form.nombre, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Introduce el nombre del jugador' } } ) }}
		</div>
		
		<p>
			{{ form_widget(form.Guardar, { 'label' : 'Guardar', 'attr' : { 'class' : 'btn btn-success' } } ) }}
		</p>
		
		{{form_end(form)}}
	</div>
	
	<div class="clearfix"></div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}