{% extends 'layout.html.twig' %}

{% block body %}
	
	{{ parent() }}

	 <div class="col-lg-6">
			<h2>Editar Club</h2>
			<hr>
			{{form_start(form)}}
			{{form_end(form)}}
    </div>
    <div class="clearfix"></div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
		
		<script type="text/javascript">
			
			$(document).ready(function(){
				$('.tlf').mask('000-00-00-00');
			});
			</script>

{% endblock %}