<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}LFP{% endblock %}</title>
		
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('public/css/bootstrap.css') }}" />
        {% endblock %}
		
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
	
    <body>
        {% block body %}
          {{ include('menu.html.twig') }}
					{{ include('mensajes.html.twig') }}
        {% endblock %}
        
        {% block javascripts %}
          <script src="{{ asset('public/js/jquery.js') }}"></script>
          <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
					<script src="{{ asset('public/js/jquery.mask.min.js') }}"></script>
        {% endblock %}
    </body>
	
</html>